*{
    box-sizing: border-box;
}
.page1{
  width: 100%;
  height:100%;
  text-align: center;
  padding-top: 150px;
  
}

h1{
    font-weight:normal;
    font-size:4vw;
    
}

h3{
    font-weight:normal;
    font-size:1.5vw;
    margin-top:0;
   
}

.page1-button{
    border:0px;
    border-radius: 10px;
    height: 50px;
    padding: 5px 15px;
    background-color: rgb(81, 70, 233);
    color: white;
    font-weight: bold;
    font-size: 17px;
    
}

.fly img  {
  margin-right: 10px;
  width: 15px;
  position:absolute;
  transition: opacity 2s, top 2s, left 2s, transform 3s ;
  transition-timing-function: ease-in-out; 
  z-index: -4;
}

@keyframes mymove {
    100% { 
    background-color: rgba(245, 239, 239,.5);
    position:absolute;
    top: 100%;
    left: 50%;
    transform: rotate(50deg);
    
  }
}

@keyframes mymovel {
    100% { 
    background-color: rgba(245, 239, 239,.5);
    position:absolute;
    top: 100%;
    right: 51%;
    opacity: 1;
    transform: rotate(50deg);
    
  }
}

.row-1{
    display: flex;
    justify-content: center;
    height: 1000px;
}

 .mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin-top: 10%;
    z-index: -2;
    background: linear-gradient(rgb(65, 151, 231), rgb(87, 235, 112)); 
    position: relative;
    border-radius: 60px;
   
}

.mobile > .mobile-marketing{
    width: 26%;
    border-radius: 50%;
    position: absolute;
    top:5%;

}
.mobile-img {
    max-width:425px;
    padding-left: 0px;
}

.mobile > .mob-txt-container{  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    top:20%;
    border-radius: 10px;
    position: absolute;
    width:90%;    
}
.mob-txt{
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    height: 57px;
    width:92%;
}



.mobile-bottom{
    display: flex;
    justify-content: center;
    padding-top: 0px;
    width:100%;
    height: 130px;  
}
.mobile-bottom > .div-left {
    flex: 50%;
    margin-top: 0px;
    min-height: 100px;
    border-right: 2px solid rgb(93, 39, 218);
    border-right-style: dashed;
}


.mobile-bottom > .div-right{
    flex:50%;
    min-height: 100px;
}
   
.row-input {
    display:flex;
    justify-content: center;
   
}

.row-input .div-input{
   display :flex;
    width: 35vw;
    height: 5vw;
    border-radius: 50px;
    border: solid rebeccapurple; 
    overflow: hidden;
}

.input-area{
    font-size: 2vw;
    color: grey;
    flex-grow: 1;
    border: none;
    outline: none;
    
}
.prefix{
    height:inherit;
    line-height: 5vw;
    background-image: url(./media/linkr.jpeg);
    background-size: 30px;
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 70px;
    margin-left: 20px;
    font-size: 2VW;

}
.input-area:focus {
    outline: none;
}